@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search-icon a{
    border-radius: 50%;
    margin: 0px 10px;
}
.nav-button{
    color: black;
}
.home-scroll{
    position: relative;
    display:flex;
}